<%- include("./partials/header") %>
<p>This is an example of <%=type%> catagory page.</p>

        <div class="imgReel">
<% prodact.forEach(function(pro){ %>


     <span class="imgHolder">
        <img src="<%=pro.image%>"> 
          <div>
            <h4><%= pro.name %></h4>
            <p>
                <a href="/show/<%= pro._id%>">more info</a>
            </p>
          </div>
     </span>



<% }) %>
</div>
        

<%- include("./partials/footer") %>
        

    
    